html,body{min-height:100%;font-size:0.9em;}
body{margin:0px; padding:0px; font-family:"Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif; font-size:0.9em;color:#333; background:#fff;}
a:hover{text-decoration:none;}
a{color:#666;text-decoration:none;}
img{border:0}
ul,li{list-style:none}
ul,li,div{box-sizing:border-box}
/*清理浮动的方法*/
.clearfix:after {content: " ";display: block;clear: both;height: 0;}
.clearfix {zoom: 1;}
/*******************************************************消息中心****************************************************/
.com_intr{padding: 3vw 2.5vw;background: #fff;}
.com_intr h6{color: #000;font-size: 4vw;}
.com_intr p{padding-top: 1vw;}
/*********************************************************资讯详情***********************************************************/
.con_su{padding: 3vw 0.5vw;padding-bottom:0;text-align: center;border-bottom: 1px solid #eee;}
.con_su h5{color: #000;font-size: 4vw;letter-spacing: 1px;}    
.con_su p{font-size: 2vw;}
.con_list{padding: 2.5vw;}
.con_list p{word-break: break-all;}
.gg_intr{word-break: break-all;padding: 2.5vw;color: #000;}
