
/*商城首页*/

.grid_c1 {
	width: 1200px;
	margin: 0 auto;
}
/*header*/

.head_img {
	width: 100%;
	height: auto;
}

.head_img img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
/*头部登录*/

.hed_login {
	width: 100%;
	height: 28px;
	line-height: 28px;
	background-color: #e3e4e5;
}

.hed_login-cont em {
	color: #999;
	margin: 0 5px;
}

.hed_login a {
	color: #999;
	font-size: 12px;
}

.hed_login a:hover {
	color: #df1a0f;
}

.hed_login-cont {
	text-align: right;
	margin-right: 88px;
}
/*头部的搜索框部分*/

.header02 {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	padding-bottom: 21px;
	border-bottom: 2px solid #e2231a;
}

.header_left {
	width: 866px;
	float: left;
	overflow: hidden;
	margin-top: 27px;
	margin-left: 110px;
}

.search_box {
	width: 640px;
	height: 36px;
	float: left;
}

.search_box .text {
	width: 546px;
	font-size: 12px;
	height: 29px;
	border: 2px solid #e2231a;
	padding-left: 17px;
	float: left;
}
input::-webkit-input-placeholder {
    color: #999;
  }
 
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
  }
 
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
  }
 
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
  }
.search_box .button {
	width: 58px;
	border: none;
	background-color: #e1251b;
	font-size: 20px;
	height: 35px;
}

.search_box .button img {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}


/*头部购物车*/

.shopping-icon {
	width: 130px;
	height: 34px;
	background-color: #fff;
	border-color: #eee;
	border: 2px solid #df1a0f;
	float: left;
	position: relative;
}

.shopping_cart {
	width: 17px;
	height: 18px;
	margin-left: 10px;
	float: left;
	margin-top: 6px;
}

.shopping_cart img {
	width: 100%;
	height: 100%;
}

.shopping-icon .round {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float: left;
	background-color: #df1a0f;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.shopping-text {
	font-size: 14px;
	color: #df1a0f;
	margin-left: 7px;
	margin-top: 5px;
	display: inline-block;
}

.Small_navigation {
	width: 100%;
	overflow: hidden;
	margin-top: 39px;
}

.Small_navigation a {
	padding-left: 6px;
	font-size: 12px;
	color: #999;
	margin-right: 8px;
}

.Small_navigation a:hover {
	color: #df1a0f;
}
/*首页导航*/

.page_navigation {
	width: 100%;
	overflow: hidden;
	font-size: 15px;
	margin-top: 15px;
	color: #333;
}

.page_navigation_left {
	width: 119px;
	float: left;
}

.page_navigation_left img {
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.page_navigation_left a {
	color: #df1a0f;
}

.page_navigation em {
	color: #df1a0f;
	margin: 0 10px;
}

.page_navigation .nav {
	float: left;
	width: 397px;
}

.page_navigation .nav a {
	margin: 0 19px;
	color: #333;
}

.page_navigation a:hover {
	color: #df1a0f;
}

.personal_center a {
	color: #df1a0f;
}
/*右边二维码*/
.header_right{
	width: 50px;
	height: 50px;
	margin-top:41px;
	float: right;
	margin-right: 80px;
}
.header_right img{
	width:100%;
	height: 100%;
}