body,
dl,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
form,
fieldset,
input,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.5;
}

img {
	border: 0;
}

* {
	padding: 0;
	margin: 0;
}

ol,
ul,
li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}


/*html5*/

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
	display: block;
}

input,
textarea,
button,
select {
	outline: none;
}

textarea {
	resize: none;
}

i,
em,
cite {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #333;
}

.hide {
	display: none;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.iconfont {
	font-family: "iconfont";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
}


/*品牌商家*/

.grid_c1 {
	width: 1200px;
	margin: 0 auto;
}


/*header*/

.head_img {
	width: 100%;
	height: auto;
}

.head_img img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}


/*头部登录*/

.hed_login {
	width: 100%;
	height: 28px;
	line-height: 28px;
	background-color: #e3e4e5;
}

.hed_login-cont em {
	color: #999;
	margin: 0 5px;
}

.hed_login a {
	color: #999;
	font-size: 12px;
}

.hed_login a:hover {
	color: #df1a0f;
}

.hed_login-cont {
	text-align: right;
}


/*头部的搜索框部分*/

.header02 {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	padding-bottom: 27px;
	border-bottom:2px solid #e2231a;
}

.header_left {
	width: 831px;
	float: left;
	overflow: hidden;
	margin-top: 27px;
	margin-left: 110px;
}

.search_box {
	width: 700px;
	height: 36px;
	float: left;
}

.search_box .text {
	width: 628px;
	font-size: 12px;
	height: 34px;
	border: 2px solid #e2231a;
	padding-left: 17px;
	float: left;
}
.search_box .button {
	width: 58px;
	border: none;
	background-color: #e1251b;
	font-size: 20px;
	height: 34px;
}

.search_box .button img {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}


/*头部购物车*/

.shopping-icon {
	width: 130px;
	height: 34px;
	background-color: #fff;
	border-color: #eee;
	border: 2px solid #df1a0f;
	float: left;
	position: relative;
}

.shopping_cart {
	width: 17px;
	height: 18px;
	margin-left: 10px;
	float: left;
	margin-top: 6px;
}

.shopping_cart img {
	width: 100%;
	height: 100%;
}

.shopping-icon .round {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float: left;
	background-color: #df1a0f;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.shopping-text {
	font-size: 14px;
	color: #df1a0f;
	margin-left: 7px;
	margin-top: 5px;
	display: inline-block;
}

.Small_navigation {
	width: 100%;
	overflow: hidden;
}

.Small_navigation a {
	font-size: 12px;
	color: #999;
	margin-right: 8px;
}

.Small_navigation a:hover {
	color: #df1a0f;
}


/*右边二维码*/

.header_right {
	width: 50px;
	height: 50px;
	margin-top: 25px;
	float: right;
}

.header_right img {
	width: 100%;
	height: 100%;
}
 
/*商品分类主要内容*/

.class_goods {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	padding-bottom: 20px;
	margin-bottom: 90px;
}

/*品牌*/
.brand{
	width: 1151px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid #D1CCC7; 
}
.brand .br_hi{
	width: 100%;
	overflow: hidden;
	background-color: #f7f5f5;
}
.brand .br_hi .br_lf{
	width: 130px;
	float: left;
	height: auto;
	color: #B0A59F;
    padding: 10px 0 0 15px;
    font-size: 16px;
}
.brand .br_hi .br_lr{
	width: 1019px;
	float: right;
	background-color: #fff;
	padding-left: 8px;
}
.brand .br_hi .br_lr ul{
	 margin: 5px;
	 overflow: hidden;
	 border-bottom: 0;
	 border-right:0 ;
}
  
.brand .br_hi .br_lr li{
	 float: left;
	 border: 1px solid #e1e1e1;
	 padding: 3px 5px;
	 margin-bottom: 5px;
	 margin-right: 5px;
	  
}
.brand .br_hi .br_lr li a img{
	width: 94px;
	height: 40px;
}

/*综合*/
.cop_h{
	width: 1151px;
	margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    
    background: #faf9f9;
    color: #806f66;
    overflow: hidden;
}
.cop_h .sent{
	width: 150px;
    overflow: hidden;
    float: left;
}
.cop_h .sent a{
 display: block;
 float: left;
 border: 1px solid #d1ccc7;
 font-size: 13px;
 color: #333;
 padding: 3px 5px;
 border-right:0 ;
 background-color: #fff;
}
.cop_h .sent a:last-child{
 border-right: 1px solid #d1ccc7;
}
.cop_h .sent a:hover{
  color:#ff0036;
}
/*价钱*/
.fPrice{
	/*width: 239px;*/
	float: left;
	margin-left: 6px;
	font-size: 13px;
	color: #333;
	overflow: hidden;
}
.fPb-item{
	width: 115px;
	border: 1px solid #d1ccc7;
	float: left;
    position: relative;
}
.ui-price-plain{
	width: 12px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    left: 4px;
    top: 1px;
   
}
.fPrice input {
    display: block;
    float: left;
    width: 112px;
    height: 22px;
    line-height: 22px;
    border:0;
    font-size: 13px;
    padding-left: 16px;
    cursor: text;
}
input::-webkit-input-placeholder {
	color: #333;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #333;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #333;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #333;
}
.fPb-split{
	width: 20px;
	color: #333;
	display: inline-block;
}

.fPb-split{
	position: static;
    background-position: -78px -106px;
    display: block;
    float: left;
    width: 8px;
    height: 24px;
    line-height: 24px;
}
/*确认按钮*/
.con_tt{
	width: 130px;
	float: left;
}
.con_tt button{
	display: block;
	border: 1px solid #e1251b;
	height: 23px;
	background-color: #e1251b;
	font-size: 13px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
	padding: 0 10px;
}
/*右边内容*/

.goods_right {
	width: 100%;
	overflow: hidden;
    margin-bottom: 13px;
    padding: 6px 13px 13px 13px;
}
/*产品内容*/

.clearfix {
	width:100%;
	height: auto;
	overflow: hidden;
}

.clearfix .gl-item {
	width: 214px;
	height: auto;
	overflow: hidden;
	float: left;
	position: relative;
	margin: 5px 10px;
	border: 1px solid #e1e1e1;
 
}
.clearfix .gl-item:hover {
	 border: 1px solid #e2231a;
}

.gl-item a {
	display: block;
	width: 100%;
}

.gl-item .jPic {
	height: 214px;
	width: 214px;
	margin-bottom: 5px;
}

.jPic img {
	width: 100%;
	height: 100%;
}

.gl-item .jPic a {
	display: block;
	overflow: hidden;
}

.gl-item .jPic a img {
	width: 100%;
	height: 100%;
}

.jGoodsInfo {
	width: auto;
	display: table;
	margin-bottom: 10px;
	height: 15px;
	line-height: 15px;
	padding: 0 5px;
}

.jGoodsInfo .jPrice {
	font-size: 14px;
	font-weight: bold;
	color: #E4393C;
	margin: 3px 0;
	display: block;
}

.jDesc {
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	margin-bottom: 6px;
	margin-top: 4px;
	font-size: 13px;
	color: #666;
}

.jExtra {
	padding: 2px 0;
	height: 24px;
}

.jExtra a {
	display: block;
	color: #999;
	font-size: 13px;
}

.jExtra a em {
	color: #005AA0;
}
/*公用底部*/

.footer {
	width: 100%;
	overflow: hidden;
}

.mod_service {
	padding: 30px 0;
	border-bottom: 1px solid #dedede
}

.mod_service_list {
	height: 42px
}

.mod_service_item {
	float: left;
	width: 321px
}

.mod_service_item02 {
	width: 235px
}

.mod_service_txt {
	width: 176px;
	float: left;
	margin-left: 10px;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444
}

.mod_help {
	padding: 30px 0 20px 0;
}

.mod_help_list {
	overflow: hidden;
	height: 160px
}

.mod_help_nav {
	float: left;
	width: 75px;
	text-align: center;
	line-height: 22px;
	margin: 0 62px;
}

.mod_help_nav_tit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.mod_copyright_inner {
	padding: 15px 0;
	border-top: 1px solid #e1e1e1;
	text-align: center
}

.mod_copyright_info {
	padding: 10px 0;
	line-height: 22px;
	color: #999
}

.mod_copyright_info a {
	color: #999
}

.mod_copyright_info a:hover {
	color: #c81623
}
/*底部有边框的字*/

.mod_service_tit {
	width: 39px;
	height: 39px;
	line-height: 34px;
	border-radius: 50%;
	border: 2px solid #e23441;
	color: #e23441;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	float: left;
}
/*底部链接*/

.mod_help_nav_con a {
	font-size: 14px;
	color: #444;
	line-height: 28px;
}

.mod_help_nav_con a:hover {
	color: #df1824;
}