html,
body {
	min-height: 100%;
	font-size: 0.9em;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft YaHei", "simsun", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #333;
	background: #fff;
}

a:hover {
	text-decoration: none;
}

a {
	color: #666;
	text-decoration: none;
}

img {
	border: 0
}

ul,
li {
	list-style: none
}

ul,
li,
div {
	box-sizing: border-box
}


/*清理浮动的方法*/

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}


/*登录页头部的返回箭头*/

.login_return {
	width: 92%;
	margin: 0 auto;
	padding-top: 6vw;
}

.login_return img {
	width: 6.4vw;
	height: 6.4vw;
}


/*注册*/

.reg-div {
	width: 100%;
	display: table;
	padding: 5vw;
}
.reg-div ul {
	margin: 0;
	padding: 0
}

.reg-div ul li {
	width: 92%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 3.8vw;
	border: 1px solid #F8F8F8;
	padding: 0px 2vw;
	line-height: 9.3vw;
	height:15vw;
	border-radius: 33px;
	background-color: #F8F8F8;
}

.reg-div input[type="password"],
.reg-div input[type="text"] {
	width: 100%;
	height: 40px;
	line-height: 26px;
	border: 0px;
	box-sizing: border-box;
	background: none;
	font-size: 3.7vw;
}

.reg-div input[type="button"] {
	line-height: 35px;
	-webkit-appearance: none;
	border-radius: 0;
	border: 0px;
	background: #f0f0f0;
	padding: 0 2vw;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	color: #666;
	font-size: 14px;
}
/****************************************************************登录***************************************************************************/

.reg-cont {
	text-align: center;
	overflow: hidden;
	margin-top: 2.5vw;
	margin-bottom: 1vw;
}

.reg-cont .The_login {
	font-size: 8vw;
	color: #323333;
	font-weight: bold;
}

.reg-cont .account {
	font-size: 3.7vw;
	color: #ccc;
	margin-top: 5.5vw;
}

.reg-div input[type="text"],
.reg-div input[type="password"] {
	margin: 11px 5px 0 0;
}
/*****************************************************************第三方登录*************************************************************************************************/

.third {
	position: relative;
	bottom: 0;
	width: 100%;
	top: 31vw;
}

.third .th_rd {
	padding-bottom: 2vw;
}

.third p {
	width: 35%;
	height: 1px;
	background: #eee;
	display: inline-block;
	margin: 0;
	margin-bottom: 5px;
}

.third span {
	padding: 0 8px;
}

.reg-bottom {
	margin-bottom: 1.8vw;
}
/*还没有账号？*/

.account_cont {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.account_cont .account_img {
	margin-top: 3.5vw;
	margin-bottom: 2vw;
}

.account_cont p {
	color: #999;
	font-size: 2.8vw;
	 
}

.account_cont a {
	color: #FF2857;
	font-weight: bold;
	display: inline-block;
	 
}
/*验证码登录页*/
.Verification_code{width: 100%; overflow: hidden;}
.reg-div .area_code{
	display: block;
	width: 33%;  
	float: left;
	font-size: 5.3vw;
	font-weight: bold;
	text-align: center;
	margin-top: 3vw;
	border-right:2px solid #eee;
}
 
.area_code_input{
	width: 62% !important;
	float: left;
}
/*重发*/
.The_countdown{
	width: 33%;
	height: 10vw;
	line-height: 10vw;
	background:rgba(255,40,87,1);
	color: #fff;
	text-align: center;
	border-radius:19px;
	font-size: 1vw;
	display: block;
	float: left;
	margin-top:2.6vw;
}
/*去掉点击时的默认边框*/
input{
outline:medium;
}
/*改变input的默认字体*/
input::-webkit-input-placeholder{
	color:#ccc;
    font-size:3.7vw;
}

/* WebKit browsers */
input::-webkit-input-placeholder {
   color:#CCCCCC;
   font-size:3.7vw;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
   color:#CCCCCC;
   font-size:3.7vw;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
   color:#CCCCCC;
   font-size:3.7vw;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color:#CCCCCC;
   font-size:3.7vw;
}
 